@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    background : #eee;
    font-family : 'Roboto';
    min-height : 100vh;
}

.container {
    width : 100%;
    height : 100vh;
    background : rgba(5,5,5,.2);
}

.menu {
    width : 100%;
    height : 100px;
    position : fixed;
    background : red;
    z-index : 1000;
    box-shadow : 0 10px  15px rgba(0,0,0,.2);
}

.menu .container {
    
}

.header {
    width : 100%;
    height : 300px;
    position : relative;
    top : 100px;
    display : flex;
    background : orange;
}

.header h1 {
    color : #eee;
    margin : auto;
}

.services {
    width : 100%;
    height : 300px;
    background : olive;
}