@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    background : #eee;
    font-family : 'Roboto';
    min-height : 100vh;
}

.container {
    width : 100%;
    height : 100vh;
    background : rgba(5,5,5,.2);
}

.menu {
    width : 100%;
    height : 100px;
    position : fixed;
    background : red;
    z-index : 1000;
    display : flex;
    box-shadow : 0 8px 15px rgba(0,0,0,.2);
}

.menu .container {
    width : 80%;
    height : 50%;
    background : transparent;
    margin : auto;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.menu .container .hamburger {
    width : 60px;
    height : 40px;
    /*background : blue;*/
    display : flex;
    cursor : pointer;
}

.hamburger .hamicon {
    width : 50px;
    height : 5px;
    margin : auto;
    background : #eee;
    box-shadow : 0 -10px 0px #eee, 0 10px 0 #eee;
    transition : all .6s;
}

.hamburger .hamicon:hover {
    box-shadow : 0 -12px 0 #eee, 0 12px 0 #eee;
}

.header {
    width : 100%;
    height : 300px;
    position : relative;
    top : 100px;
    display : flex;
    background : orange;
}

.header img {
    width : 100%;
    height : 100%;
    position :absolute;
}

.header h1 {
    color : #333;
    margin : auto;
    z-index : 100;
    font-weight : 100;
}

.services {
    width : 100%;
    height : 300px;
    background : olive;
    display : flex;
    position : relative;
    top : 100px;
}

.services .services__container {
    width : 80%;
    height : 80%;
    background : gold;
    margin : auto;
    display : grid;
}