@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    background : #eee;
    font-family : 'Roboto';
    min-height : 100vh;
}

.container {
    width : 100%;
    height : 100vh;
    background : rgba(5,5,5,.2);
}

h1 {
    color : #444;
}

p {
    color : #888;
    font-weight : 100;
}

.header {
    width : 100%;
    height : 800px;
    background : #fff;
    position : relative;
    display : flex;
}
.header img {
    width : 100%;
    height : 100%;
    position : absolute;
}

.header h1 {
    
    margin : auto;
    z-index: 150;
}
.menu {
    
    background : rgba(200, 200, 200, 0.3);
    width : 100%;
    height : 100px;
    position : fixed;
    z-index : 1000;
}