@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

@import './styles/modules.scss';

:root {
    --theme : #444;
    
    --bg : #eee;
}


/* ------ reset default styles*/

* {
    margin : 0;
    padding : 0;
    border : none;
    outline : none;
    box-sizing : border-box;
    transition : all .6s;
}

div,
img,
main,
header,
footer,
section {
    display : block;
}

li,
ol,
ul {
    list-style : none;
}

a {
    color : transparent;
    text-decoration : none;
}
/*----------------------------*/


body {
    background : var(--bg);
    font-family : Helvetica;
    &::-webkit-scrollbar {
        width : 6px;
        background : var(--bg);
    }
    &::-webkit-scrollbar-thumb {
        background : var(--theme);
        border-radius : 5px;
    }
}

.site-wrap {
    @include whb(100%, auto, transparent);
    min-height : 100vh;
}