@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

@import './styles/modules.scss';


* {
    margin : 0;
    padding : 0;
    outline : none;
    box-sizing : border-box;
    transition : all .6s;
}


/* ------ reset default styles*/
div,
img,
main,
header,
footer,
section {
    display : block;
}

li,
ol,
ul {
    list-style : none;
}

a {
    text-decoration : none;
}

/*----------------------------*/


body {
    background : #eee;
    font-family : Helvetica;
    &::-webkit-scrollbar {
        width : 6px;
        background : #fff;
    }
    &::-webkit-scrollbar-thumb {
        background : $theme;
        border-radius : 5px;
    }
}

.site-wrap {
    @include whb(100%, auto, #eee);
    min-height : 100vh;
}