@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

@import './styles/modules.scss';


* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    transition : all .6s;
}

body {
    background : #eee;
    font-family : Helvetica;
}

.site-wrap {
    @include whb(100%, 100vh, #eee);
}